<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onFormSubmitted()" [formGroup]="signInForm">
        <div  class="form-group" formGroupName="userData">
          <h3>Email</h3>
          <span *ngIf="signInForm.get('userData.email').hasError('required') && signInForm.touched">
            <h5 [ngStyle]="{color: 'red'}">* Please enter field</h5>
          </span>
          <span *ngIf="signInForm.get('userData.email').hasError('email')">
            <h5 [ngStyle]="{color: 'red'}">* Provide a valid email address</h5>
          </span>
          <input
            class="form-control"
            type="email"
            formControlName="email">
          <h3>Password</h3>
          <span *ngIf="!signInForm.get('userData.password').valid && signInForm.get('userData.password').touched">
            <h5 [ngStyle]="{color: 'red'}">* Please enter field</h5>
          </span>
          <input
            class="form-control"
            type="password"
            formControlName="password">
        </div>
        <h3>Select clearance level:</h3>
        <p class="radio" *ngFor="let clr of clearances">
          <input
            class="radio-light"
            type="radio"
            value="{{clr}}"
            formControlName="clearance">
          <label>{{ clr }}</label>
        </p>
        <h3>Your certificates:</h3>
        <div class="form-group" formArrayName="certificates">
          <button
            class="btn btn-primary"
            type="button"
            (click)="onAddCertificate()">Add Certificate</button>
            <h1></h1>
          <div *ngFor="let certicateControl of getControl(); let i = index">
            <input class="form-control" [formControlName]="i">
            <h1></h1>
          </div>
        </div>
        <h1></h1>
        <button
          class="btn btn-success"
          [disabled]="!signInForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>
